.footer {
	color: #fff;
	margin-top: auto;
	background: #595D66;
	
	&__head {
		padding: rem(11px) 0;

		@include media-breakpoint-down(lg) {
			text-align: center;
		}
	}

	&__col {
		@include media-breakpoint-up(lg) {
			display: flex;
			align-items: center;
		}
	}

	&__siteList {
		list-style: none;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}

		@include media-breakpoint-down(lg) {
			justify-content: center;
		}

		a {
			color: #fff !important;
			text-decoration: underline;
			padding: rem(5);
			&:hover {
				text-decoration: none;
			}
		}
	}

	&__foot {
		background-color: #4F5259;
		font-weight: 300;
		padding: rem(15) 0;
		font-size: $small;
	}

	.soc {
		justify-content: center;
	}

	&__btn {
		background-color: rgba(255,255,255,.5);
		border: 1px solid #fff;
		color: #fff;
		padding: rem(7) rem(15);
	}

	&__siteList {

	}

	&__copyright {
		color: #CCC;
	}
	&__dev {
		color: #999 !important;
		border-bottom: solid 1px transparent;

		&:hover {
			border-bottom-color: currentColor;
		}
	}

	@include media-breakpoint-up(xs) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xs) {}
}
