mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container-fluid
			+e.col
				+b.section-title
					h1 Контакты
				+e.block
					+icon('marker')
					+e.txt Харьков, наб. Сабуровская, 3
				+e.block
					+e.txt Горячая линия
					+e.tel(href="tel:0800501766") 0 800 501 766
				+e.block
					+icon('phone')
					+e.STRONG.txt По вопросам сотрудничества
					+e.tel(href='tel:0679742278') 067 974 22 78
				+e.block
					+e.txt По другим вопросам 
					+e.tel(href="tel:+380577382381") +38 057 738-23-81
				+e.block
					+e.txt Официальный дистрибьютор в Азербайджане<br>RRNARQRUP LLC
					+e.tel(href="tel:+994552245048") +994 55 22 45 048
				+form-wrap 
					+input('','text','Имя')
					+input('','email','E-mail')
					+input('','textarea','Текст сообщения')
					+e.btn.btn.btn-primary(type="submit") Отправить
			+e.mapWrap#map
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2565.4258865494485!2d36.278859115987856!3d49.984624328700264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a09e30c56349%3A0x60c3d42beddb9a64!2z0L3QsNCxLiDQodCw0LHRg9GA0L7QstGB0LrQsNGPLCAzLCDQpdCw0YDRjNC60L7Qsiwg0KXQsNGA0YzQutC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjEwMDA!5e0!3m2!1sru!2sua!4v1631691038061!5m2!1sru!2sua" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	// end sContact