mixin sCatalogInner(data)
	// start sCatalogInner
	+b.SECTION.sCatalogInner.section#sCatalogInner&attributes(attributes)
		+b.section-title
			h2 Готовые смеси для выпечки
		+e.txtWrap.mono2.border-bottom
			p Современный ритм жизни диктует свои жёсткие правила.. А&nbsp;так хочется побаловать себя любимого))) родных и&nbsp;близких... наполнить дом ароматом домашней выпечки и&nbsp;собрать всю семью за&nbsp;вкусной трапезой! При этом потратив минимум усилий и&nbsp;вложений, да&nbsp;и&nbsp;чтобы получилось вкусно!!! Поэтому ТМ&nbsp;&laquo;Сто пудов&raquo; предлагает линейку готовых смесей для выпечки&nbsp;&mdash; мучные смеси, приготовленные по&nbsp;собственной технологии без использования каких-либо консервантов и&nbsp;ароматизаторов. Европейские потребители уже оценили всю простоту и&nbsp;удобство использования таких смесей для выпечки, теперь эти продукты уверенно набирают популярность и&nbsp;на&nbsp;отечественном рынке.
			h5.strong Приобрести наборы для приготовления кутьи можно в&nbsp;сети супермаркетов:
			ul.colum
				li Ашан
				li Сильпо
				li Таврия
				li Velmart 
				li Сокол
				li Арбуз
				li Эпицентр
				li Класс
				li Рост
				li Восторг
				li Чудо-маркет
				li Basket
				li Фирменный магазин "Сто пудов"
				li: a(href="https://100pudov.in.ua") Фирменный интернет-магазин
				li: a(href="https://market.stopudov.ua") Интернет-магазин "Сто пудов"
			h5.strong Заинтересовала наша продукция? 
				a.text-red(href="#") Свяжитесь с нами
		+e.catalog.border-bottom
			.row
				mixin item(i,t,m)
					.col-6.col-md-4
						+e.item.text-center(href="#")&attributes(attributes)
							block
							+e.imgWrap
								+pic(`catalogItem-${i}.png`,'','')
							+e.txtWrap
								+e.name= t 
								strong= m
				+item('1','Смесь для выпечки "Жаворонки"','0,278 кг')
				+item('2','Смесь для выпечки "Вафли Бельгийские"','0,354 кг')
					+ribon
				+item('3','Смесь для выпечки "Цветные блины"','0,475 кг')
					+ribon
				+item('4','Смесь для выпечки "Блины"','0,5 кг')
					+ribon
				+item('5','Смесь для выпечки "Блины с кукурузной мукой"','0,5 кг')
				+item('6','Смесь для выпечки "Блины спельтовые"','0,5 кг')
				+item('7','Смесь для выпечки "Блины гречневые"','0,5 кг')
				+item('8','Смесь для выпечки "Оладьи"','0,5 кг')
				+item('9','Смесь для выпечки "Блины"','1 кг')
				+item('10','Смесь для выпечки "Блины" для фарширования','1 кг')
				+item('11','Детский набор для приготовления конфет "Трюфель" + 3D конструктор (гостинная)','0,255 кг')
				+item('12','Детский набор для выпечки "Капкейки" с цукатами + 3D конструктор (динозавры)','0,408 кг')
		+pugin()


	// end sCatalogInner

mixin ribon 
	+b.ribon 
		+e.line Новинка
		+e.border