mixin sNews()
	// start sNews
	+b.SECTION.sNews.section#sNews&attributes(attributes)
		.container.container--medium
			+b.section-title
				h2 Новости
			.row
				.col-auto.d-none.d-md-block
					h3 Популярные статьи
				.col 
					.border-bottom 
						+newsItem({
							title: `ТМ "Сто пудов" на Сорочинской ярмарке 2021`,
							date: '17.08.21',
							rubric: 'Новости',
							text: `С 17 по 22 августа ТМ "Сто пудов" принимает участие в Национальном Сорочинском ярмарке`,
						})
						+newsItem({
							title: `ТМ "Сто пудов" представила свою обучающую программу для школьников`,
							date: '29.06.21',
							text: `Представители ТМ "Сто пудов" провели развлекательно - познавательные занятия для учащихся младших классов в рамках программы школьного лагеря`,
						})
						+newsItem({
							title: `Фитнес-конвенция FIT DAY KHARKIV 2021`,
							date: '23.06.21',
							text: `ТМ "Сто пудов" спонсор фитнес-конвенции FIT DAY KHARKIV 2021`,
						})
						+newsItem({
							title: `Международная выставка продуктов питания "Interfood Azerbaijan" 2021`,
							date: '16.06.21',
							text: `ТМ "Сто пудов" приняла участие в 26й международной выставке в Баку (Азербайджан).`,
						})
						+newsItem({
							title: `Украинская звезда упаковки - 2021`,
							date: '07.06.21',
							text: `ТМ "Сто пудов" приняла участие во Всеукраинском конкурсе "Украинская звезда упаковки - 2021"`,
						})
						+newsItem({
							title: `Праздник к Дню защиты детей в фирменном магазине "Сто пудов"`,
							date: '03.06.21',
							text: `Фирменный магазин "Сто пудов" поздравил деток с Днем защиты детей`,
						})
						+newsItem({
							title: `Azov crossfit cup 2021`,
							date: '31.05.21',
							text: `ТМ "Сто пудов" спонсор всеукраинских соревнований с кроссфита`,
						})
						+newsItem({
							title: `Велодень 2021!`,
							date: '24.05.21',
							text: `Сто пудов на Велодне и мы за здоровый Харьков!`,
						})
						+newsItem({
							title: `ТМ "Сто пудов" на ярмарке в Дергачах`,
							date: '16.03.21',
							text: `14 марта в городе Дергачи проходил культурно-художественный праздник и ярмарка «Щедрая Масленица», в которой приняла участие ТМ "Сто пудов"`,
						})
						+newsItem({
							title: `Масляница 2021 на территории Фирменного магазина "Сто пудов"`,
							date: '14.03.21',
							text: `Вкусная Масленица и веселые проводы зимы!`,
						})
					+pugin()
	// end sNews

mixin newsItem(data)
	+b.newsItem 
		if data.img 
			+e.imgWrap 
				+pic(`${data.img}`,'','')
		+e.title!= data.title 
		+e.row.row 
			.col-auto 
				span.text-light= data.date
			.col
				span.text-light Рубрика:
					if data.rubric 
						+e.rubric(href="#")= data.rubric
					else
						+e.rubric(href="#") Новости
		p!= data.text 
		+e.btn.btn.btn-primary(href="#") Читать полностью