mixin sProdCard(data)
	// start sProdCard
	+b.SECTION.sProdCard.section#sProdCard&attributes(attributes)
		+b.section-title
			h1 Смесь для выпечки &laquo;Жаворонки&raquo;, 0,278&nbsp;кг
			
		.row
			.col 
				+e.imgWrap(href='img/@2x/-big-452x614-fef0.png' data-fancybox="prod")
					+pic('-big-452x614-fef0.png','','')
			.col-md-7
				+e.txtWrap 
					p Хочется поддержать древнюю традицию и&nbsp;испечь милые булочки в&nbsp;виде птичек? Но&nbsp;вы&nbsp;не&nbsp;знаете нужного рецепта?!<br>Готовая смесь для выпечки жаворонков станет для Вас настоящим открытием.
					p Сладкие жаворонки приготовленные из&nbsp;нежного сдобного теста получаются пышными и&nbsp;душистыми.<br>Весна уж точно придет намного быстрее, если вы наполните свой дом сладкими уютными ароматами!
					strong.tdu В состав входит:
					ol 
						li Сухая смесь (мука пшеничная в/с, сахар белый кристаллический, яичный порошок, молоко сухое цельное, соль поваренная)
						li Виноград сушеный (изюм)
						li Дрожжи хлебопекарные сухие
						li Ванилин.
					a.btn.btn-primary(href="#") Купить онлайн
		+b.tabs
			+e.caption
				+e.btn.active Польза
				+e.btn Способ приготовления
			+e.wrap
				+e.content.active 
					b.mb-4.d-block Пищевая ценность и калорийность на 100 г продукта:
					+e.row.row 
						mixin item(t,n)
							.col-md-auto 
								+e.item 
									+e.itemTitle= t
									+e.num= n
						+item('Калорийность, ккал','342,57')
						+item('Энерг. ценность, кДж','1434,27')
						+item('Белки, г','10,63')
						+item('Жиры, г','2,9')
						+item('Углеводы, г','68,29')
					p Приятного аппетита!
				+e.content 
					ol 
						li Готовую смесь и дрожжи высыпать в глубокую емкость, перемешать.
						li Постепенно добавить 150 мл теплой воды и 3-4 ст. ложки растительного масла. Замесить тесто руками.
						li Накрыть полотенцем или салфеткой. Поставить в теплое место для увеличения теста в объеме в 2 раза (примерно на 20-30 минут). Выложить тесто на доску, посыпанную мукой и обмять руками.
						li Тесто разделить на небольшие одинаковые шарики и раскатать из них «колбаски» длиной примерно 15 см.
						li Каждую «колбаску» из теста завязать узлом. С одного края сделать голову птички, а из изюминок - глаза. Другой конец немного открыть и надрезать несколько раз в виде хвостика.
						li Выложить на смазанную маслом поверхность для запекания. Сверху смазать жаворонков взбитым яйцом, чтобы получить золотистую корочку. Оставить в теплом месте на 10-15 минут.
						li В разогретую до 220°С духовку поставить противень с жаворонками и выпекать при температуре 180-200°С в течение 20-25 минут до готовности.
		+b.similarProducts.d-none.d-md-block
			+e.title Похожие товары
			.row 
				.col-6.col-md-4
					+prodItem('500г-list-198x250-df5c.png','Смесь для выпечки "Блины"','0,5 кг')
				.col-6.col-md-4
					+prodItem('list-170x250-3938.png','Смесь для выпечки "Рулет с маком"','0,356 кг')
				.col-6.col-md-4
					+prodItem('list-169x250-6f57.png','Смесь для выпечки "Пончики"','0,505 кг')


	// end sProdCard

mixin prodItem(i,t,m)
	+b.prodItem.text-center(href="#")&attributes(attributes)
		block
		+e.imgWrap
			+pic(`${i}`,'','')
		+e.txtWrap
			+e.name= t 
			strong= m 