mixin sNutrition()
	// start sNutrition
	+b.SECTION.sNutrition.section#sNutrition&attributes(attributes)
		.container.container--medium
			+b.section-title
				h1 Стопудовое питание
				
			.row
				.col-md-auto 
					+e.sitebar
						h3.sitebar__btn.sitebar__btn--js.d-inline-flex Рубрики
							.d-lg-none 
								+icon('filter')
						.sitebar__inner.sitebar__inner--js
							a(href="#") Кулинарная книга
							a(href="#") Правильное питание
							.h3.fw-300.pt-3 Популярные статьи
				.col
					.border-bottom
						.row 
							.col-md-6
								+newsItem({
									img: 'thumb-article-700x653-edcf.jpg',
									title: `Творожные вафли с чиа`,
									date: '14.06.21',
									rubric: 'Кулинарная книга',
									text: `Мегапростой рецепт невероятно вкусно завтрака!`,
								})
							.col-md-6
								+newsItem({
									img: 'thumb-article-575x579-7d2d.jpg',
									title: `Правила правильного питания`,
									date: '08.05.20',
									rubric: 'Правильное питание',
									text: `Все мы задумываемся о своем питании, о том что и как мы едим. В этой статье мы разберем, что нужно сделать, чтобы ваше питание стало правильным`,
								})
							.col-md-6
								+newsItem({
									img: 'thumb-article-570x570-517a.jpg',
									title: `Рецепт изумительного плова. Красиво, вкусно и полезно`,
									date: '19.08.21',
									rubric: 'Правильное питание',
									text: `Не знаете чем побаловать родных на обед? Плов с шампиньонами и мясом, в основе которого смесь красного, черного и нешлифованного риса - это невероятно красиво и вкусно`,
								})
							.col-md-6
								+newsItem({
									img: 'thumb-article-560x419-71c7.jpg',
									title: `Простой рецепт известного салата "Табуле". Ярко, вкусно и полезно`,
									date: '12.08.21',
									rubric: 'Правильное питание',
									text: `Как приготовить идеальный летний салат "Табуле"? Сегодня мы расскажем все секреты приготовления`,
								})
							.col-md-6
								+newsItem({
									img: 'thumb-article-560x748-4024.jpg',
									title: `Ватрушка с ягодами - невозможно оторваться`,
									date: '05.08.21',
									rubric: 'Правильное питание',
									text: `Простой рецепт ватрушки на творожном тесте. Просто и нереально вкусно, идеальный перекус к чаю`,
								})
							.col-md-6
								+newsItem({
									img: 'thumb-article-560x749-9e82.jpg',
									title: `Родные будут в восторге. Рецепт фаршированных баклажанов`,
									date: '29.07.21',
									rubric: 'Правильное питание',
									text: `Фаршированные баклажаны с булгуром придутся по вкусу каждому, даже самого привередливому гурману`,
								})
							.col-md-6
								+newsItem({
									img: 'thumb-article-570x570-a68b.jpg',
									title: `Яркий вариант завтрака! Рецепт на который вы потратите всего 5 минут`,
									date: '22.07.21',
									rubric: 'Правильное питание',
									text: `Быстрый и простой рецепт. Полезно и самое главное - невероятно вкусно!`,
								})
							.col-md-6
								+newsItem({
									img: 'thumb-article-560x748-590b.jpg',
									title: `Рецепт чечевицеблина. Это фантастика. Вкусно и просто`,
									date: '01.07.21',
									rubric: 'Правильное питание',
									text: `Завтрак, непременно, должен быть сытным, полезный и, безусловно, вкусным. Интересно? Тогда переходите и начните свой день вкусно`,
								})
							.col-md-6
								+newsItem({
									img: 'thumb-article-560x747-7c8c.jpg',
									title: `Яркий, вкусный и невероятно ароматный кокосовый трайфл с клубникой`,
									date: '24.06.21',
									rubric: 'Правильное питание',
									text: `Все еще думаете что приготовить на завтрак? Предлагаем простой рецепт яркого и полезного десерта. Невероятно вкусно и просто`,
								})
							.col-md-6
								+newsItem({
									img: 'thumb-article-560x560-a2e5.jpg',
									title: `Мега вкусное и ароматное миндальное печенье`,
									date: '11.06.21',
									rubric: 'Правильное питание',
									text: `Мы решили открыть рецепт невероятно вкусного и полезного перекуса. Простой способ приготовления, а результат просто "ОГОНЬ"`,
								})
					+pugin()
	// end sNutrition