mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
	
		.container
			.row 
				.col-lg-6 
					+b.section-title
						h2 "Сто пудов" - бакалейные товары
					p Торговая марка &laquo;Сто пудов&raquo; объединяет огромное множество товаров, необходимых для каждого. Стратегия марки&nbsp;&mdash; выпускать продукцию, максимально учитывая потребности каждой категории потребителей и&nbsp;самые различные жизненные ситуации. При этом, ТМ&nbsp;&laquo;Сто пудов&raquo; всегда стремится разработать удобный и&nbsp;практичный продукт, оставляя приоритетным вкусовые качества продукции и&nbsp;оптимальную ценовую политику.
					p Как результат продукция ТМ&nbsp;&laquo;Сто пудов&raquo; выпускается линейками, несущими идейную и&nbsp;целевую нагрузку для потребителя: крупы в&nbsp;традиционной, эконом, мини и&nbsp;премиум линейке, продукты для здорового питания, блюда удобного приготовления, готовые смеси для выпечки, мука и&nbsp;крахмал, мюсли и&nbsp;хлопья, наборы для приготовления праздничных блюд, наборы в&nbsp;дорогу, на&nbsp;дачу, НЗ&nbsp;наборы, а&nbsp;также молочные и&nbsp;мясные консервы, орехи и&nbsp;сухофрукты, макаронные изделия, товары бакалейной группы и&nbsp;другая сопутствующая продукция.
				+e.col.col-lg-6.d-none.d-lg-block 
					+e.bgImg
						+pic('about_bg.jpg')

				
			
	// end sAbout