extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sNewItem/_sNewItem.pug
include ../blocks/sProjects/_sProjects.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Готовые смеси для выпечки'
	title= title
block pagecontent 

	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+b.pageHead
		.container 
			+breadcrumb('Главная','Каталог','Готовые смеси для выпечки')
	+sCatalog()
	//- +headerBlock()
	//- +sNewItem()
	//- +sProjects()
	//- +sAbout()
	+footer()
      



