extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sNewItem/_sNewItem.pug
include ../blocks/sProjects/_sProjects.pug
include ../blocks/sitebar/_sitebar.pug
include ../blocks/sCatalogInner/_sCatalogInner.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Готовые смеси для выпечки'
	title= title
block pagecontent 

	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+b.pageHead
		.container 
			+breadcrumb('Главная','Каталог','Готовые смеси для выпечки')
	.container 
		.row 
			.col-lg-3 
				+sitebar()
			.col
				+sCatalogInner()
	+footer()
      



