.top-nav {
	
	position: absolute;
	z-index: 10;
	left: 0;
	// top: 41px;
	bottom: 0;
	width: 100%;
	background: #fff;
	@include mt;
	padding-top: rem(17);
	padding-bottom: rem(17);


	&.fixed {
		position: fixed;
		top: 0;
		bottom: auto;
		.logo {
			box-shadow: none;
			top: -11px;
			height: auto;
		}
		.logo__img {
			&--lg {
				display: none;
			}
			&--sm {
				display: block;
			}
		}

	}
	box-shadow: 0 2px 26px 0 rgba(0,0,0,.11);

	&__col {
		position: relative;
		min-width: 155px;

	}




	@include media-breakpoint-up(xs) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-down(xs) {}
}


.logo {
	border-radius: 50%;
	display: grid;
	place-items: center;
	@include a-cent(x);
	transition: none;
	z-index: 5;
	top: -78px;
	border-radius: 50%;
	background-color: #fff;
	width: 155px;
	height: 153px;
	box-shadow: rgba(0, 0, 0, 0.11) 0px 20px 20px -17px;
	
	&__img {
		max-width: 100%;
		height: auto;
		width: 100%;
		&--lg {
			display: block;
		}
		&--sm {
			display: none;
		}
	}
}
